* {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 90px;
    font-family: 'Yantramanav', sans-serif;
    color: #0076db;
    font-weight: bold;
}

.heading-div {
    margin-top: 200px;
}

.tagline {
    font-size: 36px;
    color: #0076db;
    text-align: left;
    font-family: 'Yantramanav', sans-serif;
    font-weight: none;
    letter-spacing: -0.9px;
}

.img-div {
    position: relative;
    /* border:1px solid red; */
    position: relative;
    height: auto;
    height: 500px;
}

.dots-img {
    position: absolute;
    right: 0;
    top: 100px;
}

.blue-box-div {
    background-image: linear-gradient(135deg, #0076db, #cd77dd);
    position: absolute;
    left: 0px;
    top: 100px;
}

.blue-box {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 200px;
    left: 95px;
    opacity: 0.5;
}

.orange-box {
    position: absolute;
    top: 400px;
    left: 350px;
    height: 200px;
    width: 200px;
}

/* about section */

.about-section {
    margin-top: 80px;
    background: #0076db;
}

.h4-div {
    margin-top: 100px;
}

.yellow-dash {
    color: #ffbb12;
    vertical-align: middle;
    font-size: 34px;
    font-weight: 300 !important;
}

h4 {
    font-size: 18px;
    font-family: 'Yantramanav', sans-serif;
    color: white;
}

.about-heading {
    font-family: 'Yantramanav', sans-serif;
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.right-div {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-text {
    padding-top: 35px;
    padding-bottom: 20px;
    color: white;
    font-size: 24px;
    text-align: left;
    font-family: 'Yantramanav', sans-serif;
}

.about-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.about-item {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.about-item h4 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Yantramanav', sans-serif;
}

.about-item-text {
    margin-left: 20px;
    margin-top: -5px;
}

.about-item-text p {
    font-family: 'Yantramanav', sans-serif;
    font-size: 24px;
    color: white;
    font-weight: none;
}

.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

.ityped {
    font-family: 'Yantramanav', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* about section end */
/* capabilities */
.capabilites {
    margin-top: 100px;
    margin-bottom: 100px;
}

.left-div h4 {
    color: #0076db;
    font-weight: bold;
    padding-top: 12px;
}

.cap-heading {
    font-size: 48px;
    color: #0076db;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Yantramanav', sans-serif;
}

.cap-item {
    margin-top: 20px;
}

.cap-list {
    list-style: none;
    font-size: 24px;
    color: #0076db;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}

/* capabilities end */
/* review */
.review {
    background: #0076db;
}

.review-row {
    margin-top: 100px;
}

.review-text {
    font-size: 36px;
    font-family: 'Yantramanav', sans-serif;
    color: white;
    line-height: 40px;
}

.author {
    font-family: 'Yantramanav', sans-serif;
    font-size: 24px;
    color: white;
    padding-top: 20px;
}

/* review end */
/* footer  */
footer {
    margin-top: 100px;
    margin-bottom: 100px;
}

footer h2 {
    font-family: 'Yantramanav', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #0076db;
}

.footer-icon-div {
    color: #0076db;
}

.icon {
    font-size: 34px !important;
}

/* footer end */

/* mobile device */
@media only screen and (max-width:600px) {
    h1 {
        font-size: 100px;
    }

    .tagline {
        font-size: 28px;
    }

    .dots-img {
        position: absolute;
        left: 100%;
    }

    .orange-box {
        position: absolute;
        left: 310px;
    }

    .about-section {
        width: 565px;
    }

    .h4-div {
        margin-left: 50px;
    }

    .right-div {
        /* background: #000; */
        width: 70%;
        margin-left: 50px;
    }

    .about-section {
        margin-top: 200px;
    }

    .about-heading {
        font-size: 48px;
    }

    .about-text {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .about-list {
        /* background: red; */
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about-item {
        margin-bottom: 10px;
    }

    .about-item-image {
        width: 200px;
    }

    .about-item {
        width: 100%;
    }

    .about-item-text {
        width: 700px;
    }

    .ityped {
        margin-left: 15px;
    }

    .left-div {
        margin-left: 50px;
    }

    .capabilites .right-div {
        margin-top: 50px;
    }

    .cap-item {
        width: 300px;
    }

    .review {
        width: 565px;
    }

    .quote-img {
        margin-top: -70px;
        margin-left: 45px;
    }

    .review-text {
        margin-left: 50px;
    }

    .author {
        margin-left: 50px;
        margin-top: 50px;
    }

    footer {
        width: 565px;
    }

}

/* 1024px */
@media only screen and (max-width:667px) {
    h1 {
        font-weight: 900;
    }

    .tagline {
        /* border:1px solid red; */
        font-size: 50px;
        width: 500px;
        font-weight: 200;
    }

    .img-div {
        /* border:1px solid red; */
        position: relative;
    }

    .dots-img {
        position: absolute;
        margin-left: -120px;
        width: 300px;
    }

    .blue-box {
        position: absolute;
        margin-left: -80px;
        margin-top: 55px;
        width: 380px;
    }

    .orange-box {
        position: absolute;
        margin-left: -135px;
        margin-top: 160px;
        width: 320px;
        height: 320px;
    }

    .about-section {
        margin-top: 500px;
        width: 650px;
    }

    .about-section h4 {
        font-size: 30px;
        font-weight: bold;
    }

    .about-heading {
        font-size: 65px;
        width: 450px;
    }

    .about-text {
        font-size: 35px;
        width: 450px;
        font-weight: none;
    }

    .about-item {
        /* border:1px solid red; */
        margin-top: 15px;
        width: 450px;
    }

    .about-item-image img {
        height: 70px;
        width: 70px;
    }

    .about-item-text h4 {
        font-size: 35px;
        font-weight: normal;
    }

    .about-item-text p {
        font-size: 30px;
        font-weight: normal;
    }

    #app {
        /* border: 1px solid red; */
        width: 480px;
        margin-left: -22px;
    }

    .ityped {
        font-weight: normal;
        font-size: 35px;
        margin-left: -22px;
    }

    .capabilites h4 {
        font-size: 32px;
    }

    .cap-heading {
        width: 450px;
        font-size: 70px;
        font-weight: bold;
    }

    .cap-list {
        font-size: 35px;
        width: 450px;
        margin-top: 15px;
        font-weight: normal;
        margin-bottom: 35px;
    }

    .review {
        width: 650px;
    }

    .review-text-div {
        /* width: 500px; */
    }

    .review-text {
        font-size: 50px;
        line-height: 70px;
    }

    .author-name {
        font-size: 35px;

    }
}

/* 1024px end */